body {
    background-color: #874354;
    background-image: linear-gradient(215deg, #9e475d 7%, #874354 24%, #5e2244 44%, #1b0e3a 85%);
    background-repeat: no-repeat;
}

section {
    display: block;
    text-align: center;
    padding: 12px;
    border: 10px;
    margin: 20px;
}


