body {
    background-color: #09224a;
}

#header_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#flip_card_quote_section {
    margin: auto;
    width: 15%;
    padding: 10px;
}

/* Style the Card */
.flip-card-quote {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

/* Position the front and back side */
.flip-card-quote-content {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-quote:hover .flip-card-quote-content {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-quote-front, .flip-card-quote-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side - This will put the front and back on seperate sides */
.flip-card-quote-back {
    font-size: 60px;
    background-color: #fffde9;
    color: #b47816;
    transform: rotateY(180deg);
    width: 200px;
    height: 300px;
    border: 3px;
    border-style: solid;
    border-color: #b47816;
    border-radius: 15px 50px;
    
    
}

/* Style the front side */
.flip-card-quote-front {
    font-size: 60px;
    line-height: 0.2;
    background-color: #1c4485;
    color: #fffde9;
    width: 300px;
    height: 200px;
    border: 3px;
    border-style: solid;
    border-color: #b47816;
    border-radius: 50px 15px;
}